@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
#range{
    width: 200px;
}
#textInput{
    margin-left: 180px;
}
li{
    font-size: large;
    font-weight: bold;
    color: black;
}
li > a {
    font-family: 'Kanit', sans-serif;
    color: darkslategrey;
}
button {
    border: none;
    background-color: rgba(0,0,0,0);
    border-radius: 20%;
    width: 150px;
    padding: 2px;

}
.btn1:hover{

 background-color: rgb(238, 216, 18);

}